.btn-app {
  margin-top: 40px;
  width: 57px;
  height: 37px;
  background: linear-gradient(
    90deg,
    #f5f7fb 0%,
    rgba(178, 154, 233, 0.44) 100%
  );
  border-radius: 16px 16px 0px 0px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  cursor: pointer;
}
.btn-app:hover {
  background: linear-gradient(90deg, #f5f7fb 0%, rgb(152, 124, 221) 100%);
}
