.btn-check {
  margin-right: 8px;
  width: 36px;
  height: 36px;
  background: linear-gradient(
    90deg,
    #f5f7fb 0%,
    rgba(178, 154, 233, 0.44) 100%
  );
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
